USE [master]
GO
/****** Object:  Database [ONLINE_TEST]    Script Date: 7/13/2019 2:53:31 PM ******/
CREATE DATABASE [ONLINE_TEST]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ONLINE_TEST', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ONLINE_TEST.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ONLINE_TEST_log', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ONLINE_TEST_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ONLINE_TEST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ONLINE_TEST]
GO
USE [ONLINE_TEST]
GO
/****** Object:  Table [dbo].[abc]    Script Date: 7/13/2019 2:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[abc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[Avatar] [varchar](255) NULL,
 CONSTRAINT [PK__abc__3213E83F376D4CC9] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANSWER_TYPES]    Script Date: 7/13/2019 2:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANSWER_TYPES](
	[ANST_ID] [int] IDENTITY(1,1) NOT NULL,
	[ANSTID] [char](10) NOT NULL,
	[ANSTNAME] [nvarchar](50) NOT NULL,
	[ANSTORDER] [int] NULL,
	[ANSTSAMPLE] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[ANST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANSWERS]    Script Date: 7/13/2019 2:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANSWERS](
	[ANS_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[QUE_ID] [bigint] NOT NULL,
	[EXA_ID] [bigint] NOT NULL,
	[ANSPAR_ID] [bigint] NOT NULL,
	[ANSCONTENT] [nvarchar](100) NOT NULL,
	[ANSSCORE] [float] NOT NULL,
	[ANSORDER] [int] NOT NULL,
	[ANSOPTIDS] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ANS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASSIGNMENTS]    Script Date: 7/13/2019 2:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASSIGNMENTS](
	[ASS_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USE_ID] [bigint] NOT NULL,
	[SUB_ID] [bigint] NOT NULL,
	[ASSLEVEL] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ASS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKS]    Script Date: 7/13/2019 2:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKS](
	[BOO_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TIT_ID] [int] NOT NULL,
	[BARCODE] [nvarchar](100) NOT NULL,
	[STATUS] [int] NOT NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [int] NOT NULL,
 CONSTRAINT [PK_BOOKS] PRIMARY KEY CLUSTERED 
(
	[BOO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHECKOUTDETAILS]    Script Date: 7/13/2019 2:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHECKOUTDETAILS](
	[CHKD_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CHK_ID] [bigint] NOT NULL,
	[BOO_ID] [bigint] NOT NULL,
	[CHECKOUTDATE] [datetime] NOT NULL,
	[CHECKOUTBY] [int] NOT NULL,
	[CHECKINDATE] [datetime] NULL,
	[CHECKINBY] [int] NULL,
 CONSTRAINT [PK_CHECKOUTDETAILS] PRIMARY KEY CLUSTERED 
(
	[CHKD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHECKOUTS]    Script Date: 7/13/2019 2:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHECKOUTS](
	[CHK_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LIB_ID] [int] NOT NULL,
	[MEM_ID] [int] NOT NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATEDBY] [int] NULL,
 CONSTRAINT [PK_CHECKOUTS] PRIMARY KEY CLUSTERED 
(
	[CHK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXAM_TAKINGS]    Script Date: 7/13/2019 2:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXAM_TAKINGS](
	[EXA_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GRPT_ID] [bigint] NOT NULL,
	[TAK_ID] [bigint] NOT NULL,
	[EXAACCOUNT] [varchar](50) NOT NULL,
	[EXAREMAINING_TIME] [bigint] NOT NULL,
	[EXADATE] [datetime] NOT NULL,
	[EXASTATUS] [tinyint] NOT NULL,
	[EXAIP] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[EXA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROUP_TESTS]    Script Date: 7/13/2019 2:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP_TESTS](
	[GRPT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GRP_ID] [bigint] NOT NULL,
	[TES_ID] [bigint] NOT NULL,
	[GRPTSTATUS] [tinyint] NOT NULL,
	[GRPTDATE] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GRPT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROUPS]    Script Date: 7/13/2019 2:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUPS](
	[GRP_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LAB_ID] [int] NULL,
	[SEM_ID] [int] NOT NULL,
	[SUB_ID] [bigint] NOT NULL,
	[GRPID] [varchar](20) NOT NULL,
	[GRPNAME] [nvarchar](100) NOT NULL,
	[GRPPASSWORD] [varchar](50) NOT NULL,
	[GRPENC_PASSWORD] [varchar](100) NOT NULL,
	[GRPREV_PASSWORD] [varchar](50) NOT NULL,
	[GRP_ENC_PASSWORD] [varchar](100) NOT NULL,
	[GRPISACTIVE] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GRP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMAGE_BANKS]    Script Date: 7/13/2019 2:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGE_BANKS](
	[IMG_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PAR_ID] [bigint] NOT NULL,
	[IMGURL] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IMG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LABS]    Script Date: 7/13/2019 2:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LABS](
	[LAB_ID] [int] IDENTITY(1,1) NOT NULL,
	[LABNAME] [nvarchar](200) NOT NULL,
	[LABADDRESS] [nvarchar](400) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LAB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIBRARIANS]    Script Date: 7/13/2019 2:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIBRARIANS](
	[LIB_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNT] [nvarchar](100) NOT NULL,
	[PASSWORD] [nvarchar](255) NOT NULL,
	[FULLNAME] [nvarchar](100) NOT NULL,
	[GENDER] [bit] NULL,
	[EMAIL] [nvarchar](100) NULL,
	[PHONE] [nvarchar](50) NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [int] NOT NULL,
 CONSTRAINT [PK_LIBRARIANS] PRIMARY KEY CLUSTERED 
(
	[LIB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEMBERS]    Script Date: 7/13/2019 2:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMBERS](
	[MEM_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNT] [nvarchar](100) NOT NULL,
	[PASSWORD] [nvarchar](255) NOT NULL,
	[FULLNAME] [nvarchar](100) NOT NULL,
	[GENDER] [bit] NULL,
	[EMAIL] [nvarchar](100) NULL,
	[PHONE] [nvarchar](50) NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [int] NOT NULL,
 CONSTRAINT [PK_MEMBERS] PRIMARY KEY CLUSTERED 
(
	[MEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPTIONS]    Script Date: 7/13/2019 2:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPTIONS](
	[OPT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[QUE_ID] [bigint] NOT NULL,
	[OPTCONTENT] [ntext] NOT NULL,
	[OPTISCORRECT] [bit] NOT NULL,
	[OPTORDER] [tinyint] NULL,
 CONSTRAINT [PK__OPTIONS__140CDB498CCA027A] PRIMARY KEY CLUSTERED 
(
	[OPT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTS]    Script Date: 7/13/2019 2:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTS](
	[PAR_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SUB_ID] [bigint] NOT NULL,
	[PARID] [char](10) NOT NULL,
	[PARNAME] [nvarchar](200) NOT NULL,
	[PARDIRECTION] [text] NULL,
	[PARDEFAULT_SCORE] [float] NOT NULL,
	[PARDEFAULT_COLUMN] [tinyint] NOT NULL,
	[PARDEFAULT_LEVEL] [tinyint] NOT NULL,
	[PARORDER] [int] NULL,
	[PARNOTE] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[PAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PASSAGES]    Script Date: 7/13/2019 2:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PASSAGES](
	[PAS_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PAR_ID] [bigint] NOT NULL,
	[ANST_ID] [int] NOT NULL,
	[PASCONTENT] [ntext] NOT NULL,
	[PASISSHUFFLE] [bit] NOT NULL,
	[PASISSHOW_ALL] [bit] NOT NULL,
	[PASMEDIA] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PAS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISSIONS]    Script Date: 7/13/2019 2:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISSIONS](
	[PER_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USET_ID] [bigint] NOT NULL,
	[PRI_ID] [bigint] NOT NULL,
	[PERISREAD_ONLY] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRIVILEGES]    Script Date: 7/13/2019 2:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRIVILEGES](
	[PRI_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PRINAME] [nvarchar](200) NOT NULL,
	[PRIURL] [varchar](100) NOT NULL,
	[PRIPARENT] [smallint] NOT NULL,
	[PRIORDER] [smallint] NULL,
	[PRINOTE] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[PRI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUESTION_FORMATS]    Script Date: 7/13/2019 2:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTION_FORMATS](
	[QUEF_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ANST_ID] [int] NOT NULL,
	[PAR_ID] [bigint] NOT NULL,
	[QUEFORDER] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[QUEF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUESTIONS]    Script Date: 7/13/2019 2:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTIONS](
	[QUE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ANST_ID] [int] NOT NULL,
	[PAR_ID] [bigint] NULL,
	[PAS_ID] [bigint] NULL,
	[QUECONTENT] [ntext] NOT NULL,
	[QUEISSHUFFLE] [bit] NOT NULL,
	[QUESCORE] [float] NOT NULL,
	[QUEOPT_COLUMN] [tinyint] NOT NULL,
	[QUEISBANK] [bit] NOT NULL,
	[QUELEVEL] [tinyint] NOT NULL,
	[QUEMEDIA] [char](50) NULL,
	[QUEREFERENCE] [varchar](100) NULL,
	[QUEORDER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[QUE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RELATIVE_PRIVILEGES]    Script Date: 7/13/2019 2:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RELATIVE_PRIVILEGES](
	[REL_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PRI_ID] [bigint] NOT NULL,
	[RELNAME] [varchar](100) NOT NULL,
	[RELURL] [varchar](50) NOT NULL,
	[RELNOTE] [varchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[REL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEMESTERS]    Script Date: 7/13/2019 2:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEMESTERS](
	[SEM_ID] [int] IDENTITY(1,1) NOT NULL,
	[SEMSEMESTER] [tinyint] NOT NULL,
	[SEMYEAR] [int] NOT NULL,
	[SEMISCURRENT] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBJECTS]    Script Date: 7/13/2019 2:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECTS](
	[SUB_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PARENT_ID] [bigint] NULL,
	[SUBID] [varchar](20) NOT NULL,
	[SUBNAME] [nvarchar](100) NOT NULL,
	[Avatar] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SUB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAKERS]    Script Date: 7/13/2019 2:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAKERS](
	[TAK_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TAKID] [varchar](20) NOT NULL,
	[TAKFIRSTNAME] [nvarchar](50) NOT NULL,
	[TAKLASTNAME] [nvarchar](100) NOT NULL,
	[TAKGENDER] [bit] NOT NULL,
	[TAKDOB] [date] NOT NULL,
	[TAKADDRESS] [nvarchar](200) NULL,
	[TAKEMAIL] [varchar](50) NULL,
	[TAKPHONE] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TAK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEST_DETAILS]    Script Date: 7/13/2019 2:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEST_DETAILS](
	[TESD_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TESD_ID2] [bigint] NULL,
	[TES_ID] [bigint] NOT NULL,
	[TESDID] [bigint] NOT NULL,
	[TESDTABLE] [tinyint] NOT NULL,
	[TESDNO_QUESTION] [int] NOT NULL,
	[TESDORDER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TESD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEST_TYPES]    Script Date: 7/13/2019 2:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEST_TYPES](
	[TEST_ID] [int] IDENTITY(1,1) NOT NULL,
	[TESTNAME] [char](100) NOT NULL,
	[TESTISCURRENT] [bit] NOT NULL,
	[TESTORDER] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[TEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TESTING_FORMATS]    Script Date: 7/13/2019 2:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TESTING_FORMATS](
	[TESF_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TES_ID] [bigint] NOT NULL,
	[TESISFREE] [bit] NOT NULL,
	[TESISSHOW_PART] [bit] NOT NULL,
	[TESISSHOW_SCORE] [bit] NOT NULL,
	[TESISSHOW_PROCTOR] [bit] NOT NULL,
	[TESISSHOW_FEEDBACK] [bit] NOT NULL,
	[TESISSHOW_SIGNNATURE] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TESF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TESTS]    Script Date: 7/13/2019 2:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TESTS](
	[TES_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SUB_ID] [bigint] NOT NULL,
	[USE_ID] [bigint] NOT NULL,
	[SEM_ID] [int] NOT NULL,
	[TEST_ID] [int] NOT NULL,
	[TESTITLE] [nvarchar](20) NOT NULL,
	[TESVERSION] [varchar](50) NOT NULL,
	[TESDATE] [date] NOT NULL,
	[TESTIME] [bigint] NOT NULL,
	[TESLANGUAGE] [char](2) NOT NULL,
	[TESISSHUFFLE] [bit] NOT NULL,
	[TESISHEADPHONE] [bit] NOT NULL,
	[TESISFRAME] [bit] NOT NULL,
	[TESISACTIVE] [bit] NOT NULL,
	[TESISLOCKED] [bit] NOT NULL,
	[TESPASSWORD] [varchar](50) NOT NULL,
	[TESENC_PASSWORD] [varchar](100) NOT NULL,
	[TESMAX_SCORE] [float] NOT NULL,
	[TESNOTE] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[TES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TITLES]    Script Date: 7/13/2019 2:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TITLES](
	[TIT_ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](255) NOT NULL,
	[PUBLISHINGYEAR] [int] NULL,
	[PUBLISHER] [nvarchar](255) NOT NULL,
	[AUTHOR] [nvarchar](255) NOT NULL,
	[DESCRIPTION] [ntext] NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [int] NOT NULL,
 CONSTRAINT [PK_TITLES] PRIMARY KEY CLUSTERED 
(
	[TIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_TYPES]    Script Date: 7/13/2019 2:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_TYPES](
	[USET_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USETNAME] [nvarchar](100) NOT NULL,
	[USETISADMIN] [bit] NOT NULL,
	[USETNOTE] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[USET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 7/13/2019 2:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[USE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USET_ID] [bigint] NOT NULL,
	[USEACCOUNT] [varchar](50) NOT NULL,
	[USEENC_PASSWORD] [varchar](50) NOT NULL,
	[USEFIRSTNAME] [nvarchar](50) NOT NULL,
	[USELASTNAME] [nvarchar](100) NOT NULL,
	[USEDOB] [date] NOT NULL,
	[USEGENDER] [bit] NOT NULL,
	[USEEMAIL] [varchar](50) NULL,
	[USEPHONE] [varchar](50) NOT NULL,
	[USEISACTIVE] [bit] NOT NULL,
	[USEDATE] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[abc] ON 

INSERT [dbo].[abc] ([id], [name], [Avatar]) VALUES (2, N'world', N'world_ac9faec78f7e6a20336f.jpg')
INSERT [dbo].[abc] ([id], [name], [Avatar]) VALUES (3, N'abcxyz', N'abcxyz_1200px-KB_Japanese.svg.png')
INSERT [dbo].[abc] ([id], [name], [Avatar]) VALUES (4, N'PY', N'PY_726a5974442ca072f93d.jpg')
SET IDENTITY_INSERT [dbo].[abc] OFF
SET IDENTITY_INSERT [dbo].[ANSWER_TYPES] ON 

INSERT [dbo].[ANSWER_TYPES] ([ANST_ID], [ANSTID], [ANSTNAME], [ANSTORDER], [ANSTSAMPLE]) VALUES (2, N'OC        ', N'Một đáp án đúng', NULL, NULL)
INSERT [dbo].[ANSWER_TYPES] ([ANST_ID], [ANSTID], [ANSTNAME], [ANSTORDER], [ANSTSAMPLE]) VALUES (3, N'MC        ', N'Nhiều đáp án đúng', NULL, NULL)
INSERT [dbo].[ANSWER_TYPES] ([ANST_ID], [ANSTID], [ANSTNAME], [ANSTORDER], [ANSTSAMPLE]) VALUES (4, N'TF        ', N'Đúng / Sai', NULL, NULL)
SET IDENTITY_INSERT [dbo].[ANSWER_TYPES] OFF
SET IDENTITY_INSERT [dbo].[BOOKS] ON 

INSERT [dbo].[BOOKS] ([BOO_ID], [TIT_ID], [BARCODE], [STATUS], [CREATEDDATE], [CREATEDBY]) VALUES (1, 1, N'11', 1, CAST(N'2019-07-12T11:21:49.007' AS DateTime), 1)
INSERT [dbo].[BOOKS] ([BOO_ID], [TIT_ID], [BARCODE], [STATUS], [CREATEDDATE], [CREATEDBY]) VALUES (2, 1, N'12', 1, CAST(N'2019-07-12T11:21:49.007' AS DateTime), 1)
INSERT [dbo].[BOOKS] ([BOO_ID], [TIT_ID], [BARCODE], [STATUS], [CREATEDDATE], [CREATEDBY]) VALUES (3, 2, N'11', 1, CAST(N'2019-07-12T11:21:49.007' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[BOOKS] OFF
SET IDENTITY_INSERT [dbo].[CHECKOUTDETAILS] ON 

INSERT [dbo].[CHECKOUTDETAILS] ([CHKD_ID], [CHK_ID], [BOO_ID], [CHECKOUTDATE], [CHECKOUTBY], [CHECKINDATE], [CHECKINBY]) VALUES (1, 1, 1, CAST(N'2019-07-12T11:21:49.007' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[CHECKOUTDETAILS] ([CHKD_ID], [CHK_ID], [BOO_ID], [CHECKOUTDATE], [CHECKOUTBY], [CHECKINDATE], [CHECKINBY]) VALUES (2, 1, 2, CAST(N'2019-07-12T11:21:49.020' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[CHECKOUTDETAILS] ([CHKD_ID], [CHK_ID], [BOO_ID], [CHECKOUTDATE], [CHECKOUTBY], [CHECKINDATE], [CHECKINBY]) VALUES (3, 1, 3, CAST(N'2019-07-12T11:21:49.020' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CHECKOUTDETAILS] OFF
SET IDENTITY_INSERT [dbo].[CHECKOUTS] ON 

INSERT [dbo].[CHECKOUTS] ([CHK_ID], [LIB_ID], [MEM_ID], [CREATEDDATE], [CREATEDBY]) VALUES (1, 1, 1, NULL, NULL)
INSERT [dbo].[CHECKOUTS] ([CHK_ID], [LIB_ID], [MEM_ID], [CREATEDDATE], [CREATEDBY]) VALUES (2, 2, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CHECKOUTS] OFF
SET IDENTITY_INSERT [dbo].[EXAM_TAKINGS] ON 

INSERT [dbo].[EXAM_TAKINGS] ([EXA_ID], [GRPT_ID], [TAK_ID], [EXAACCOUNT], [EXAREMAINING_TIME], [EXADATE], [EXASTATUS], [EXAIP]) VALUES (2, 2, 5, N'126DAEBBA262AF42CB169CD6FB1417036DE3D1D4', 45, CAST(N'2019-07-11T23:25:16.750' AS DateTime), 1, NULL)
INSERT [dbo].[EXAM_TAKINGS] ([EXA_ID], [GRPT_ID], [TAK_ID], [EXAACCOUNT], [EXAREMAINING_TIME], [EXADATE], [EXASTATUS], [EXAIP]) VALUES (3, 2, 6, N'126DAEBBA262AF42CB169CD6FB1417036DE3D1D4', 45, CAST(N'2019-07-11T23:28:58.453' AS DateTime), 1, NULL)
INSERT [dbo].[EXAM_TAKINGS] ([EXA_ID], [GRPT_ID], [TAK_ID], [EXAACCOUNT], [EXAREMAINING_TIME], [EXADATE], [EXASTATUS], [EXAIP]) VALUES (4, 2, 7, N'126DAEBBA262AF42CB169CD6FB1417036DE3D1D4', 45, CAST(N'2019-07-11T23:33:53.547' AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[EXAM_TAKINGS] OFF
SET IDENTITY_INSERT [dbo].[GROUP_TESTS] ON 

INSERT [dbo].[GROUP_TESTS] ([GRPT_ID], [GRP_ID], [TES_ID], [GRPTSTATUS], [GRPTDATE]) VALUES (2, 3, 2, 1, CAST(N'2019-07-10T00:00:00.000' AS DateTime))
INSERT [dbo].[GROUP_TESTS] ([GRPT_ID], [GRP_ID], [TES_ID], [GRPTSTATUS], [GRPTDATE]) VALUES (10, 3, 3, 1, CAST(N'2019-07-12T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[GROUP_TESTS] OFF
SET IDENTITY_INSERT [dbo].[GROUPS] ON 

INSERT [dbo].[GROUPS] ([GRP_ID], [LAB_ID], [SEM_ID], [SUB_ID], [GRPID], [GRPNAME], [GRPPASSWORD], [GRPENC_PASSWORD], [GRPREV_PASSWORD], [GRP_ENC_PASSWORD], [GRPISACTIVE]) VALUES (3, 1, 1, 1, N'01', N'ABC', N'123', N'123', N'1234', N'1234', 1)
INSERT [dbo].[GROUPS] ([GRP_ID], [LAB_ID], [SEM_ID], [SUB_ID], [GRPID], [GRPNAME], [GRPPASSWORD], [GRPENC_PASSWORD], [GRPREV_PASSWORD], [GRP_ENC_PASSWORD], [GRPISACTIVE]) VALUES (4, 1, 2, 1, N'02', N'XYZ', N'123', N'123', N'1234', N'1234', 1)
SET IDENTITY_INSERT [dbo].[GROUPS] OFF
SET IDENTITY_INSERT [dbo].[LABS] ON 

INSERT [dbo].[LABS] ([LAB_ID], [LABNAME], [LABADDRESS]) VALUES (1, N'lab1', N'Khu A')
SET IDENTITY_INSERT [dbo].[LABS] OFF
SET IDENTITY_INSERT [dbo].[LIBRARIANS] ON 

INSERT [dbo].[LIBRARIANS] ([LIB_ID], [ACCOUNT], [PASSWORD], [FULLNAME], [GENDER], [EMAIL], [PHONE], [CREATEDDATE], [CREATEDBY]) VALUES (1, N'librarian', N'librarian', N'Nguyen Hoang Tan', NULL, NULL, NULL, CAST(N'2019-07-12T11:21:48.990' AS DateTime), 1)
INSERT [dbo].[LIBRARIANS] ([LIB_ID], [ACCOUNT], [PASSWORD], [FULLNAME], [GENDER], [EMAIL], [PHONE], [CREATEDDATE], [CREATEDBY]) VALUES (2, N'librarian1', N'librarian1', N'Tan Nguyen Hoang', NULL, NULL, NULL, CAST(N'2019-07-12T11:21:48.990' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[LIBRARIANS] OFF
SET IDENTITY_INSERT [dbo].[MEMBERS] ON 

INSERT [dbo].[MEMBERS] ([MEM_ID], [ACCOUNT], [PASSWORD], [FULLNAME], [GENDER], [EMAIL], [PHONE], [CREATEDDATE], [CREATEDBY]) VALUES (1, N'admin', N'd033e22ae348aeb5660fc2140aec35850c4da997', N'Nguyen Hoang Tan', NULL, NULL, NULL, CAST(N'2019-07-12T11:21:48.990' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[MEMBERS] OFF
SET IDENTITY_INSERT [dbo].[OPTIONS] ON 

INSERT [dbo].[OPTIONS] ([OPT_ID], [QUE_ID], [OPTCONTENT], [OPTISCORRECT], [OPTORDER]) VALUES (1, 1, N'Lào Cai', 0, NULL)
INSERT [dbo].[OPTIONS] ([OPT_ID], [QUE_ID], [OPTCONTENT], [OPTISCORRECT], [OPTORDER]) VALUES (2, 1, N'Cao Bằng', 0, NULL)
INSERT [dbo].[OPTIONS] ([OPT_ID], [QUE_ID], [OPTCONTENT], [OPTISCORRECT], [OPTORDER]) VALUES (3, 1, N'Hà Giang', 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[OPTIONS] OFF
SET IDENTITY_INSERT [dbo].[PARTS] ON 

INSERT [dbo].[PARTS] ([PAR_ID], [SUB_ID], [PARID], [PARNAME], [PARDIRECTION], [PARDEFAULT_SCORE], [PARDEFAULT_COLUMN], [PARDEFAULT_LEVEL], [PARORDER], [PARNOTE]) VALUES (2, 1, N'DLDCVN    ', N'Địa chất Việt Nam', N'Câu h?i v? khoáng s?n Vi?t Nam', 6, 2, 1, NULL, NULL)
INSERT [dbo].[PARTS] ([PAR_ID], [SUB_ID], [PARID], [PARNAME], [PARDIRECTION], [PARDEFAULT_SCORE], [PARDEFAULT_COLUMN], [PARDEFAULT_LEVEL], [PARORDER], [PARNOTE]) VALUES (3, 1, N'DLDCTG    ', N'Địa chất thế giới', N'Con cá ông, tru?ng', 4, 2, 2, NULL, NULL)
INSERT [dbo].[PARTS] ([PAR_ID], [SUB_ID], [PARID], [PARNAME], [PARDIRECTION], [PARDEFAULT_SCORE], [PARDEFAULT_COLUMN], [PARDEFAULT_LEVEL], [PARORDER], [PARNOTE]) VALUES (4, 21, N'AVLT      ', N'Listening', N'listen and answer the question', 5, 2, 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PARTS] OFF
SET IDENTITY_INSERT [dbo].[QUESTIONS] ON 

INSERT [dbo].[QUESTIONS] ([QUE_ID], [ANST_ID], [PAR_ID], [PAS_ID], [QUECONTENT], [QUEISSHUFFLE], [QUESCORE], [QUEOPT_COLUMN], [QUEISBANK], [QUELEVEL], [QUEMEDIA], [QUEREFERENCE], [QUEORDER]) VALUES (1, 2, 2, NULL, N'Điểm cực Bắc phần đất liền nước ta ở vĩ độ 23° 22 B tại xã Lũng Cú, huyện Đồng Văn, thuộc tỉnh', 0, 5, 2, 1, 2, NULL, NULL, NULL)
INSERT [dbo].[QUESTIONS] ([QUE_ID], [ANST_ID], [PAR_ID], [PAS_ID], [QUECONTENT], [QUEISSHUFFLE], [QUESCORE], [QUEOPT_COLUMN], [QUEISBANK], [QUELEVEL], [QUEMEDIA], [QUEREFERENCE], [QUEORDER]) VALUES (2, 2, 2, NULL, N'Điểm cực Nam phần đất liền nước ta ở vĩ độ 8°30 N tại xã Đất Mũi, huyện, Ngọc Hiển, tỉnh', 0, 5, 2, 1, 2, NULL, NULL, NULL)
INSERT [dbo].[QUESTIONS] ([QUE_ID], [ANST_ID], [PAR_ID], [PAS_ID], [QUECONTENT], [QUEISSHUFFLE], [QUESCORE], [QUEOPT_COLUMN], [QUEISBANK], [QUELEVEL], [QUEMEDIA], [QUEREFERENCE], [QUEORDER]) VALUES (3, 2, 2, NULL, N'Điểm cực Tây phần đất liền ở kinh độ 102° 09 Đ tại xã Sín Thầu, huyện Mường Nhé, thuộc tỉnh', 0, 5, 2, 1, 2, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[QUESTIONS] OFF
SET IDENTITY_INSERT [dbo].[SEMESTERS] ON 

INSERT [dbo].[SEMESTERS] ([SEM_ID], [SEMSEMESTER], [SEMYEAR], [SEMISCURRENT]) VALUES (1, 1, 2019, 0)
INSERT [dbo].[SEMESTERS] ([SEM_ID], [SEMSEMESTER], [SEMYEAR], [SEMISCURRENT]) VALUES (2, 2, 2019, 0)
INSERT [dbo].[SEMESTERS] ([SEM_ID], [SEMSEMESTER], [SEMYEAR], [SEMISCURRENT]) VALUES (3, 3, 2019, 0)
SET IDENTITY_INSERT [dbo].[SEMESTERS] OFF
SET IDENTITY_INSERT [dbo].[SUBJECTS] ON 

INSERT [dbo].[SUBJECTS] ([SUB_ID], [PARENT_ID], [SUBID], [SUBNAME], [Avatar]) VALUES (1, NULL, N'DL', N'Địa lý', NULL)
INSERT [dbo].[SUBJECTS] ([SUB_ID], [PARENT_ID], [SUBID], [SUBNAME], [Avatar]) VALUES (2, NULL, N'LS', N'Lịch sử', NULL)
INSERT [dbo].[SUBJECTS] ([SUB_ID], [PARENT_ID], [SUBID], [SUBNAME], [Avatar]) VALUES (3, 1, N'DLDC', N'Địa chất', NULL)
SET IDENTITY_INSERT [dbo].[SUBJECTS] OFF
SET IDENTITY_INSERT [dbo].[TAKERS] ON 

INSERT [dbo].[TAKERS] ([TAK_ID], [TAKID], [TAKFIRSTNAME], [TAKLASTNAME], [TAKGENDER], [TAKDOB], [TAKADDRESS], [TAKEMAIL], [TAKPHONE]) VALUES (5, N'TAK1', N'Nguyen', N'Tan', 1, CAST(N'2019-07-11' AS Date), NULL, N'pirateking6666@gmail.com', N'0906971622')
INSERT [dbo].[TAKERS] ([TAK_ID], [TAKID], [TAKFIRSTNAME], [TAKLASTNAME], [TAKGENDER], [TAKDOB], [TAKADDRESS], [TAKEMAIL], [TAKPHONE]) VALUES (6, N'TAK6', N'Nguyen', N'Tan', 1, CAST(N'2019-07-11' AS Date), NULL, N'pirateking6666@gmail.com', N'0906971622')
INSERT [dbo].[TAKERS] ([TAK_ID], [TAKID], [TAKFIRSTNAME], [TAKLASTNAME], [TAKGENDER], [TAKDOB], [TAKADDRESS], [TAKEMAIL], [TAKPHONE]) VALUES (7, N'TAK7', N'nguyen', N'tan', 1, CAST(N'2019-07-11' AS Date), NULL, N'pirateking6666@gmail.com', N'0906971622')
SET IDENTITY_INSERT [dbo].[TAKERS] OFF
SET IDENTITY_INSERT [dbo].[TEST_DETAILS] ON 

INSERT [dbo].[TEST_DETAILS] ([TESD_ID], [TESD_ID2], [TES_ID], [TESDID], [TESDTABLE], [TESDNO_QUESTION], [TESDORDER]) VALUES (5, NULL, 2, 2, 0, 4, NULL)
INSERT [dbo].[TEST_DETAILS] ([TESD_ID], [TESD_ID2], [TES_ID], [TESDID], [TESDTABLE], [TESDNO_QUESTION], [TESDORDER]) VALUES (6, NULL, 2, 3, 0, 4, NULL)
INSERT [dbo].[TEST_DETAILS] ([TESD_ID], [TESD_ID2], [TES_ID], [TESDID], [TESDTABLE], [TESDNO_QUESTION], [TESDORDER]) VALUES (7, NULL, 2, 6, 0, 2, NULL)
SET IDENTITY_INSERT [dbo].[TEST_DETAILS] OFF
SET IDENTITY_INSERT [dbo].[TEST_TYPES] ON 

INSERT [dbo].[TEST_TYPES] ([TEST_ID], [TESTNAME], [TESTISCURRENT], [TESTORDER]) VALUES (4, N'Kiem tra giua ky                                                                                    ', 1, 0)
INSERT [dbo].[TEST_TYPES] ([TEST_ID], [TESTNAME], [TESTISCURRENT], [TESTORDER]) VALUES (5, N'Kiem tra cuoi ky                                                                                    ', 0, 0)
SET IDENTITY_INSERT [dbo].[TEST_TYPES] OFF
SET IDENTITY_INSERT [dbo].[TESTS] ON 

INSERT [dbo].[TESTS] ([TES_ID], [SUB_ID], [USE_ID], [SEM_ID], [TEST_ID], [TESTITLE], [TESVERSION], [TESDATE], [TESTIME], [TESLANGUAGE], [TESISSHUFFLE], [TESISHEADPHONE], [TESISFRAME], [TESISACTIVE], [TESISLOCKED], [TESPASSWORD], [TESENC_PASSWORD], [TESMAX_SCORE], [TESNOTE]) VALUES (1, 3, 5, 1, 4, N'Đoán xem', N'1', CAST(N'2019-07-09' AS Date), 30, N'vn', 0, 0, 0, 0, 1, N'', N'', 10, NULL)
INSERT [dbo].[TESTS] ([TES_ID], [SUB_ID], [USE_ID], [SEM_ID], [TEST_ID], [TESTITLE], [TESVERSION], [TESDATE], [TESTIME], [TESLANGUAGE], [TESISSHUFFLE], [TESISHEADPHONE], [TESISFRAME], [TESISACTIVE], [TESISLOCKED], [TESPASSWORD], [TESENC_PASSWORD], [TESMAX_SCORE], [TESNOTE]) VALUES (2, 1, 5, 1, 5, N'I''m very very tired', N'1', CAST(N'2019-07-09' AS Date), 45, N'vn', 0, 0, 0, 1, 1, N'', N'', 10, NULL)
INSERT [dbo].[TESTS] ([TES_ID], [SUB_ID], [USE_ID], [SEM_ID], [TEST_ID], [TESTITLE], [TESVERSION], [TESDATE], [TESTIME], [TESLANGUAGE], [TESISSHUFFLE], [TESISHEADPHONE], [TESISFRAME], [TESISACTIVE], [TESISLOCKED], [TESPASSWORD], [TESENC_PASSWORD], [TESMAX_SCORE], [TESNOTE]) VALUES (3, 1, 5, 3, 5, N'abc', N'1', CAST(N'2019-07-12' AS Date), 45, N'vn', 0, 0, 0, 1, 1, N'', N'', 10, NULL)
SET IDENTITY_INSERT [dbo].[TESTS] OFF
SET IDENTITY_INSERT [dbo].[TITLES] ON 

INSERT [dbo].[TITLES] ([TIT_ID], [TITLE], [PUBLISHINGYEAR], [PUBLISHER], [AUTHOR], [DESCRIPTION], [CREATEDDATE], [CREATEDBY]) VALUES (1, N'abc', NULL, N'superman', N'DC comic', NULL, CAST(N'2019-07-12T11:21:49.007' AS DateTime), 1)
INSERT [dbo].[TITLES] ([TIT_ID], [TITLE], [PUBLISHINGYEAR], [PUBLISHER], [AUTHOR], [DESCRIPTION], [CREATEDDATE], [CREATEDBY]) VALUES (2, N'xyz', NULL, N'ironman', N'Marvel', NULL, CAST(N'2019-07-12T11:21:49.007' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[TITLES] OFF
SET IDENTITY_INSERT [dbo].[USER_TYPES] ON 

INSERT [dbo].[USER_TYPES] ([USET_ID], [USETNAME], [USETISADMIN], [USETNOTE]) VALUES (1, N'Quản trị viên', 1, NULL)
SET IDENTITY_INSERT [dbo].[USER_TYPES] OFF
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([USE_ID], [USET_ID], [USEACCOUNT], [USEENC_PASSWORD], [USEFIRSTNAME], [USELASTNAME], [USEDOB], [USEGENDER], [USEEMAIL], [USEPHONE], [USEISACTIVE], [USEDATE]) VALUES (5, 1, N'admin', N'D033E22AE348AEB5660FC2140AEC35850C4DA997', N'Nguyen Hoang', N'Tan', CAST(N'1996-11-18' AS Date), 1, NULL, N'0906971622', 1, CAST(N'2019-06-28' AS Date))
SET IDENTITY_INSERT [dbo].[USERS] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ANSWER_T__986A08CA10BAD00F]    Script Date: 7/13/2019 2:53:33 PM ******/
ALTER TABLE [dbo].[ANSWER_TYPES] ADD UNIQUE NONCLUSTERED 
(
	[ANSTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_1_FK]    Script Date: 7/13/2019 2:53:33 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_1_FK] ON [dbo].[BOOKS]
(
	[TIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_3_FK]    Script Date: 7/13/2019 2:53:33 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_3_FK] ON [dbo].[CHECKOUTDETAILS]
(
	[CHK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_4_FK]    Script Date: 7/13/2019 2:53:33 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_4_FK] ON [dbo].[CHECKOUTDETAILS]
(
	[BOO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_2_FK]    Script Date: 7/13/2019 2:53:33 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_2_FK] ON [dbo].[CHECKOUTS]
(
	[LIB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_5_FK]    Script Date: 7/13/2019 2:53:33 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_5_FK] ON [dbo].[CHECKOUTS]
(
	[MEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SUBJECTS__EA64A79909267409]    Script Date: 7/13/2019 2:53:33 PM ******/
ALTER TABLE [dbo].[SUBJECTS] ADD UNIQUE NONCLUSTERED 
(
	[SUBID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TAKERS__1C58163C5670A7BA]    Script Date: 7/13/2019 2:53:33 PM ******/
ALTER TABLE [dbo].[TAKERS] ADD UNIQUE NONCLUSTERED 
(
	[TAKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USERS__F60C627C1ADBF4B5]    Script Date: 7/13/2019 2:53:33 PM ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[USEACCOUNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TESTS] ADD  DEFAULT ((100)) FOR [TESMAX_SCORE]
GO
ALTER TABLE [dbo].[ANSWERS]  WITH CHECK ADD FOREIGN KEY([EXA_ID])
REFERENCES [dbo].[EXAM_TAKINGS] ([EXA_ID])
GO
ALTER TABLE [dbo].[ANSWERS]  WITH CHECK ADD FOREIGN KEY([QUE_ID])
REFERENCES [dbo].[QUESTIONS] ([QUE_ID])
GO
ALTER TABLE [dbo].[ASSIGNMENTS]  WITH CHECK ADD FOREIGN KEY([SUB_ID])
REFERENCES [dbo].[SUBJECTS] ([SUB_ID])
GO
ALTER TABLE [dbo].[ASSIGNMENTS]  WITH CHECK ADD FOREIGN KEY([USE_ID])
REFERENCES [dbo].[USERS] ([USE_ID])
GO
ALTER TABLE [dbo].[BOOKS]  WITH CHECK ADD  CONSTRAINT [FK_BOOKS_RELATIONS_TITLES] FOREIGN KEY([TIT_ID])
REFERENCES [dbo].[TITLES] ([TIT_ID])
GO
ALTER TABLE [dbo].[BOOKS] CHECK CONSTRAINT [FK_BOOKS_RELATIONS_TITLES]
GO
ALTER TABLE [dbo].[CHECKOUTDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_CHECKOUT_RELATIONS_BOOKS] FOREIGN KEY([BOO_ID])
REFERENCES [dbo].[BOOKS] ([BOO_ID])
GO
ALTER TABLE [dbo].[CHECKOUTDETAILS] CHECK CONSTRAINT [FK_CHECKOUT_RELATIONS_BOOKS]
GO
ALTER TABLE [dbo].[CHECKOUTDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_CHECKOUT_RELATIONS_CHECKOUT] FOREIGN KEY([CHK_ID])
REFERENCES [dbo].[CHECKOUTS] ([CHK_ID])
GO
ALTER TABLE [dbo].[CHECKOUTDETAILS] CHECK CONSTRAINT [FK_CHECKOUT_RELATIONS_CHECKOUT]
GO
ALTER TABLE [dbo].[CHECKOUTS]  WITH CHECK ADD  CONSTRAINT [FK_CHECKOUT_RELATIONS_LIBRARIA] FOREIGN KEY([LIB_ID])
REFERENCES [dbo].[LIBRARIANS] ([LIB_ID])
GO
ALTER TABLE [dbo].[CHECKOUTS] CHECK CONSTRAINT [FK_CHECKOUT_RELATIONS_LIBRARIA]
GO
ALTER TABLE [dbo].[CHECKOUTS]  WITH CHECK ADD  CONSTRAINT [FK_CHECKOUT_RELATIONS_MEMBERS] FOREIGN KEY([MEM_ID])
REFERENCES [dbo].[MEMBERS] ([MEM_ID])
GO
ALTER TABLE [dbo].[CHECKOUTS] CHECK CONSTRAINT [FK_CHECKOUT_RELATIONS_MEMBERS]
GO
ALTER TABLE [dbo].[EXAM_TAKINGS]  WITH CHECK ADD FOREIGN KEY([GRPT_ID])
REFERENCES [dbo].[GROUP_TESTS] ([GRPT_ID])
GO
ALTER TABLE [dbo].[EXAM_TAKINGS]  WITH CHECK ADD FOREIGN KEY([TAK_ID])
REFERENCES [dbo].[TAKERS] ([TAK_ID])
GO
ALTER TABLE [dbo].[GROUP_TESTS]  WITH CHECK ADD FOREIGN KEY([GRP_ID])
REFERENCES [dbo].[GROUPS] ([GRP_ID])
GO
ALTER TABLE [dbo].[GROUP_TESTS]  WITH CHECK ADD FOREIGN KEY([TES_ID])
REFERENCES [dbo].[TESTS] ([TES_ID])
GO
ALTER TABLE [dbo].[GROUPS]  WITH CHECK ADD FOREIGN KEY([LAB_ID])
REFERENCES [dbo].[LABS] ([LAB_ID])
GO
ALTER TABLE [dbo].[GROUPS]  WITH CHECK ADD FOREIGN KEY([SEM_ID])
REFERENCES [dbo].[SEMESTERS] ([SEM_ID])
GO
ALTER TABLE [dbo].[GROUPS]  WITH CHECK ADD FOREIGN KEY([SUB_ID])
REFERENCES [dbo].[SUBJECTS] ([SUB_ID])
GO
ALTER TABLE [dbo].[IMAGE_BANKS]  WITH CHECK ADD FOREIGN KEY([PAR_ID])
REFERENCES [dbo].[PARTS] ([PAR_ID])
GO
ALTER TABLE [dbo].[OPTIONS]  WITH CHECK ADD  CONSTRAINT [FK__OPTIONS__QUE_ID__08B54D69] FOREIGN KEY([QUE_ID])
REFERENCES [dbo].[QUESTIONS] ([QUE_ID])
GO
ALTER TABLE [dbo].[OPTIONS] CHECK CONSTRAINT [FK__OPTIONS__QUE_ID__08B54D69]
GO
ALTER TABLE [dbo].[PARTS]  WITH CHECK ADD FOREIGN KEY([SUB_ID])
REFERENCES [dbo].[SUBJECTS] ([SUB_ID])
GO
ALTER TABLE [dbo].[PASSAGES]  WITH CHECK ADD FOREIGN KEY([ANST_ID])
REFERENCES [dbo].[ANSWER_TYPES] ([ANST_ID])
GO
ALTER TABLE [dbo].[PASSAGES]  WITH CHECK ADD FOREIGN KEY([PAR_ID])
REFERENCES [dbo].[PARTS] ([PAR_ID])
GO
ALTER TABLE [dbo].[PERMISSIONS]  WITH CHECK ADD FOREIGN KEY([PRI_ID])
REFERENCES [dbo].[PRIVILEGES] ([PRI_ID])
GO
ALTER TABLE [dbo].[PERMISSIONS]  WITH CHECK ADD FOREIGN KEY([USET_ID])
REFERENCES [dbo].[USER_TYPES] ([USET_ID])
GO
ALTER TABLE [dbo].[QUESTION_FORMATS]  WITH CHECK ADD FOREIGN KEY([ANST_ID])
REFERENCES [dbo].[ANSWER_TYPES] ([ANST_ID])
GO
ALTER TABLE [dbo].[QUESTION_FORMATS]  WITH CHECK ADD FOREIGN KEY([PAR_ID])
REFERENCES [dbo].[PARTS] ([PAR_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QUESTIONS]  WITH CHECK ADD FOREIGN KEY([ANST_ID])
REFERENCES [dbo].[ANSWER_TYPES] ([ANST_ID])
GO
ALTER TABLE [dbo].[QUESTIONS]  WITH CHECK ADD FOREIGN KEY([PAR_ID])
REFERENCES [dbo].[PARTS] ([PAR_ID])
GO
ALTER TABLE [dbo].[QUESTIONS]  WITH CHECK ADD FOREIGN KEY([PAS_ID])
REFERENCES [dbo].[PASSAGES] ([PAS_ID])
GO
ALTER TABLE [dbo].[RELATIVE_PRIVILEGES]  WITH CHECK ADD FOREIGN KEY([PRI_ID])
REFERENCES [dbo].[PRIVILEGES] ([PRI_ID])
GO
ALTER TABLE [dbo].[SUBJECTS]  WITH CHECK ADD FOREIGN KEY([PARENT_ID])
REFERENCES [dbo].[SUBJECTS] ([SUB_ID])
GO
ALTER TABLE [dbo].[TEST_DETAILS]  WITH CHECK ADD FOREIGN KEY([TES_ID])
REFERENCES [dbo].[TESTS] ([TES_ID])
GO
ALTER TABLE [dbo].[TEST_DETAILS]  WITH CHECK ADD FOREIGN KEY([TESD_ID2])
REFERENCES [dbo].[TEST_DETAILS] ([TESD_ID])
GO
ALTER TABLE [dbo].[TESTING_FORMATS]  WITH CHECK ADD FOREIGN KEY([TES_ID])
REFERENCES [dbo].[TESTS] ([TES_ID])
GO
ALTER TABLE [dbo].[TESTS]  WITH CHECK ADD FOREIGN KEY([SEM_ID])
REFERENCES [dbo].[SEMESTERS] ([SEM_ID])
GO
ALTER TABLE [dbo].[TESTS]  WITH CHECK ADD FOREIGN KEY([SUB_ID])
REFERENCES [dbo].[SUBJECTS] ([SUB_ID])
GO
ALTER TABLE [dbo].[TESTS]  WITH CHECK ADD FOREIGN KEY([TEST_ID])
REFERENCES [dbo].[TEST_TYPES] ([TEST_ID])
GO
ALTER TABLE [dbo].[TESTS]  WITH CHECK ADD FOREIGN KEY([USE_ID])
REFERENCES [dbo].[USERS] ([USE_ID])
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD FOREIGN KEY([USET_ID])
REFERENCES [dbo].[USER_TYPES] ([USET_ID])
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0: Available, 1: Borrowed, 2: Corrupt' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOOKS', @level2type=N'COLUMN',@level2name=N'STATUS'
GO
USE [master]
GO
